/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
span.rvts11
{
 font-size: 24pt;
 font-family: 'Vrinda';
}
span.rvts12
{
 font-size: 18pt;
 font-family: 'Vrinda';
}
span.rvts13
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
}
a.rvts14, span.rvts14
{
 font-size: 11pt;
 color: #1155cc;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 11pt;
 font-family: 'Vrinda';
}
span.rvts16
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
a.rvts17, span.rvts17
{
 font-size: 11pt;
 font-weight: bold;
 color: #1155cc;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'Vrinda';
 font-weight: bold;
}
a.rvts19, span.rvts19
{
 font-size: 11pt;
 font-family: 'Vrinda';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts20 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts21, span.rvts21 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts23
{
 font-size: 11pt;
 color: #000000;
}
a.rvts24, span.rvts24
{
 font-size: 11pt;
 color: #1155cc;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts26
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #000000;
 background-color: #ffffff;
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #a31515;
 background-color: #ffffff;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #ffffff;
}
span.rvts29
{
 font-size: 9pt;
 color: #000000;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts31
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #008000;
 background-color: #ffffff;
}
span.rvts32
{
 font-size: 11pt;
 color: #434343;
}
span.rvts33
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts34
{
 font-size: 11pt;
 color: #202124;
 background-color: #f8f9fa;
}
span.rvts35
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #000000;
 background-color: #ffffff;
}
span.rvts36
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #a31515;
 background-color: #ffffff;
}
span.rvts37
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #0000ff;
 background-color: #ffffff;
}
span.rvts38
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #2b91af;
 background-color: #ffffff;
}
span.rvts39
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #ffffff;
}
span.rvts40
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #000000;
 background-color: #ffffff;
}
span.rvts41
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #a31515;
 background-color: #ffffff;
}
span.rvts42
{
 font-size: 9pt;
 font-family: 'Consolas';
 color: #008000;
 background-color: #ffffff;
}
span.rvts43
{
 font-size: 11pt;
 color: #666666;
}
span.rvts44
{
 font-size: 11pt;
 color: #000000;
 text-decoration: underline;
}
span.rvts45
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
 background-color: #ffff00;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #000000;
 background-color: #ffff00;
}
span.rvts47
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #a31515;
 background-color: #ffff00;
}
span.rvts48
{
 font-size: 11pt;
 font-family: 'Consolas';
 font-weight: bold;
 color: #0000ff;
 background-color: #ffff00;
}
span.rvts49
{
 font-size: 11pt;
 font-family: 'consolas';
 color: #000000;
 background-color: #00ff00;
}
span.rvts50
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #a31515;
 background-color: #00ff00;
}
span.rvts51
{
 font-size: 11pt;
 font-family: 'Consolas';
 color: #0000ff;
 background-color: #00ff00;
}
span.rvts52
{
 font-size: 11pt;
}
span.rvts53
{
 font-size: 11pt;
 color: #cc7832;
}
span.rvts54
{
 font-size: 11pt;
 color: #000000;
 background-color: #ff9900;
}
span.rvts55
{
 font-size: 11pt;
 color: #000000;
 background-color: #ff0000;
}
span.rvts56
{
 font-size: 11pt;
 font-family: 'Courier New', 'Courier', monospace;
 color: #111111;
 background-color: #f7f7f7;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: center;
 margin: 16px 0px 4px 0px;
}
.rvps5
{
 text-align: center;
 line-height: 1.50;
}
.rvps6
{
 line-height: 1.50;
}
.rvps7 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 27px 0px 8px 0px;
}
.rvps9
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 21px 0px 5px 0px;
}
.rvps10
{
 text-indent: 48px;
}
.rvps11
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 24px 0px 8px 0px;
}
.rvps12
{
 background: #ffffff;
 margin: 15px 0px 0px 0px;
}
.rvps13
{
 background: #ffffff;
}
.rvps14
{
 background: #ffffff;
 margin: 0px 0px 15px 0px;
}
.rvps15
{
 margin: 0px 0px 4px 0px;
}
.rvps16
{
 margin: 0px 0px 21px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside;}
